@media all and (min-width: 1200px){
    .banner-content h1 {
    font-size: 5.7rem;
}
}
@media all and (max-width: 991px){
    .menu ul li a {
    margin: 0 2rem;
}
.banner-image {
    display: none;
}
.banner-light {
    display: none;
}
.content-control {
    width: 75%;
}
.discuss-distence {
    font-size: 3rem;
}
.work-discuss h2 {
    padding-top: 1.5rem;
    font-size: 1.8rem;
}
.creative-img img {
    width: 72.6%;
    margin: 0 auto;
}
.responsive-order, .order {
    order: -1;
    margin-bottom: 4rem;
}
.hero-responsive {
    padding-top: 6rem;
}
.testimonial .swiper-button-next {
    display: none;
}
.testimonial .swiper-button-prev{
    display: none;
}
.testimonial {
    margin-top: 5rem;
}
.footer-heading h3, .instagram h3 {
    font-size: 2.4rem;
}
.footer-heading a img {
    margin-top: -1.3rem;
}
}
@media all and (max-width: 767px){
    .menu ul li a {
    margin: 0 2rem;
}
.nav-btn {
    display: block;
    cursor: pointer;
}
.header-nav {
    position: fixed;
    top: 10rem;
    right: -100%;
    width: 36%;
    background: #222;
    height: 100%;
    transition: 1s;
    opacity: .9;

}
.toggle-menu{
    right: 0;
}
.menu ul {
    flex-direction: column;
    padding: 0;
    text-align: center;
    margin-top: 3rem;
}
.menu ul li a{
    margin-bottom: 2rem;
    color: white;
}
.responsive-blog {
    display: flex;
    justify-content: center;
}
.tag-link a {
    padding: 0rem 0.9rem;
}
.contact-no {
    margin-bottom: 5rem;
}
.end-footer {
    margin-top: 5rem;
}
.footer-heading a img {
    margin-top: -2.6rem;
}
}
@media all and (max-width: 575px){
.caption {
    display: flex;
    justify-content: center;
}
.footer-content {
    margin-bottom: 5rem;
}
}
@media all and (max-width: 480px){
.content-control {
    width: 95.2%;
}
.banner-content h1 {
    font-size: 4rem;
    line-height: 6rem;
}
#button {
    bottom: 107px;
}
}